@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Rubik:wght@600;700&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Rubik";
$fontFamily: "Montserrat";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1160;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$black: #000;
$white: #fff;
$green: #00C041;
$greenHover: #5BB025;
$grey: #333333;


//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $black;
	background-color: #FBFFFF;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1 + px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================
.main__body {
	position: relative;
	padding: 70px 0;

	@media (max-width:$md4+px) {
		padding: 30px 0;
	}
}

.body-img {
	position: absolute;
	top: 35%;
	right: 0;
	z-index: -1;

	@media (max-width:$md2+px) {
		opacity: 0.5;
		z-index: -1;
		width: 50%;
	}

	@media (max-width:$md4+px) {
		width: 40%;
	}
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__block {
		padding-top: 110px;
		width: 55%;
		z-index: 2;

		@media (max-width:1180px) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			width: 100%;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 60px;
		line-height: 60px;
		color: #303030;
		margin-bottom: 28px;

		@media (max-width:$md2+px) {
			font-size: 50px;
		}

		@media (max-width:$md3+px) {
			font-size: 45px;
		}

		@media (max-width:$md4+px) {
			font-size: 26px;
			line-height: 120%;
			margin-bottom: 18px;
		}
	}

	&__line {
		height: 4px;
		width: 30%;
		background: $green;
		margin-bottom: 28px;

		@media (max-width:$md4+px) {
			margin-bottom: 18px;
		}
	}

	&__subtitle {
		font-weight: normal;
		font-size: 20px;
		line-height: 124%;
		margin-bottom: 28px;

		@media (max-width:$md4+px) {
			font-size: 16px;
			margin-bottom: 18px;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&-one {
			margin-right: 20px;

			@media (max-width:$md2+px) {
				margin-bottom: 10px;
			}

			@media (max-width:$md4+px) {
				margin-right: 0;
				min-width: 100%;
			}
		}

		&-one,
		.two {
			@media (max-width:$md3+px) {
				display: flex;
				flex: 0 0 100%;
			}
		}
	}

	&__text-btn {
		font-weight: 600;
		font-size: 16px;
		color: $black;
		transition: color 0.3s ease 0s;

		&:hover {
			color: $grey;
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================